# 람다함수
- def 없이 사용하는 익명 함수
    - 1회용 함수를 작성해야할 때 많이 사용
- 함수를 간편하게 작성할 수 있기 때문에 다른 함수의 인수로 넣을 때 주로 사용
- 식 형태로 되어 있어서 람다 표현식(lambda expression)이라고도 부름

## 람다 함수 생성
- 표현법
    - lambda 매개변수들 : 식

In [1]:
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(1)

11

In [4]:
lambda x : x + 10

- 람다함수는 호출이 불가능
    - 이름이 없기 때문에
        - 익명함수(anonymous function)

## 람다 함수 호출하기

In [7]:
plus_ten = lambda x : x + 10
plus_ten(1)

11

In [8]:
(lambda x : x + 10)(1)

11

## 람다함수 안에서는 변수를 만들 수 없음
- 람다 함수에서는 새 변수를 만들 수 없기 때문에 반환값은 변수 없이 한줄로 표현할 수 있어야 함
- 변수가 필요한 코드라면 def로 함수를 작성

In [9]:
(lambda x : y = 10; x + y)

SyntaxError: invalid syntax (475669303.py, line 1)

- 람다 함수 바깥에 있는 변수를 사용하는 것은 가능

In [11]:
y = 10
(lambda x : x + y)(1)

11

# 함수의 매개변수로 함수 전달하기
- 함수의 배개변수에 사용하는 함수를 콜백함수(callback function)라고 함

In [28]:
# 매개변수로 받은 함수를 10번 호출하는 함수
def call_10_times(func):
    for i in range(10):
        func()

def print_hello():
    print("안녕하세요")

In [29]:
call_10_times(print_hello)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

- map
    - 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수
    - map(함수, 리스트)
- filter
    - 리스트의 요소를 함수에 넣고 리턴된 값이 True인 것으로 새로운 리스트를 구성해주는 함수
    - filter(함수, 리스트)

In [30]:
def power(item):
    return item * item

def under_3(item):
    return item < 3

In [31]:
list_input_a = [1, 2, 3, 4, 5]

In [33]:
# map 함수 사용
output_a = map(power, list_input_a)
print(output_a)
print(list(output_a))

<map object at 0x7f84a98d4460>
[1, 4, 9, 16, 25]

In [34]:
# filter 함수 사용
output_b = filter(under_3, list_input_a)
print(output_b)
print(list(output_b))

<filter object at 0x7f84a98d55a0>
[1, 2]

- map함수와 filter함수는 모두 첫 번째 매개변수에 함수, 두 번째 매개변수에 리스트를 넣음
    - 매개변수로 함수를 전달하기 위해 함수를 작성하는 것이 번거롭고 코드 공간 낭비
        - 따라서 람다 함수 사용

## 람다 함수를 인수로 사용하기
- 람다 함수를 사용하는 가장 큰 이유는 함수의 인수에서 간단하게 함수를 만들기 위함

In [37]:
# power 함수와 under_3 함수를 람다함수로 변경
list_input_a = [1, 2, 3, 4, 5]

output_a = map(lambda x:x * x, list_input_a)
print(output_a)
print(list(output_a))

print()

output_b = filter(lambda x : x < 3, list_input_a)
print(output_b)
print(list(output_b))

<map object at 0x7f84a8f22860>
[1, 4, 9, 16, 25]

<filter object at 0x7f84a98d7340>
[1, 2]

In [42]:
# 맨 위에 plus_ten() 함수 사용하기
list(map(plus_ten, [1, 2, 3]))

[11, 12, 13]

In [44]:
# plus_ten 과 같은 기능을 하는 람다식
list(map(lambda x : x + 10, [1, 2, 3]))

[11, 12, 13]

- 람다를 사용하면 코드를 더 깔끔하게 작성할 수 있고, 매개변수로 넣어진 함수를 확인하기 위해 다시 찾지 않아도 됨

## 람다함수와 map, filter 함수 응용

### 조건부 표헌식
- lambda 매개변수들 : 식1 if 조건식 else 식2

In [46]:
# 3의 배수이면 string 값으로 변환하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : str(x) if x % 3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

- 람다 함수안에서 if를 사용했다면 반드시 else를 사용해야함
    - if만 있다면 에러
    
- 람다 함수에서 elif는 사용할 수 없음
    - 식1 if 조건식1 else 식2 if 조건식2 else 식3 의 형식으로 사용
    - if 조건문 -> if 조건문2 -> 식3
    -          -> if 조건문2 -> 식2
    -          -> 식1

In [48]:
# 1은 문자열로
# 2는 실수로
# 3이상은 10을 더하는 식
list(map(lambda x : str(x) if x == 1 else float(x) if x == 2 else x + 10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

- 위와 같이 조건이 복잡해질 경우에는 람다 함수보다는 def 로 함수를 만들고 if, elif, else를 사용하기를 권장한다

In [49]:
def f(x):
    if x == 1:
        return str(x)
    elif x == 2:
        return float(x)
    else:
        return x + 10

In [50]:
list(map(f, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

### map에 객체를 여러개 넣기

In [52]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y : x * y, a, b))

[2, 8, 18, 32, 50]

### filter 응용

In [54]:
# 5보다 크면서 10보다 작은숫자 가져오기
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(lambda x : x > 5 and x < 10, a))

[8, 7, 9]

In [57]:
# 위 표현식을 리스트 내포로도 구현 가능
[i for i in a if i > 5 and i < 10]

[8, 7, 9]

# 리스트 함수의 key 키워드 매개변수
- 리스트에서 최솟값과 최댓값을 찾을 때는 min() 함수와 max()함수를 사용

In [58]:
a = [52, 273, 32, 103, 57]

In [59]:
min(a)

32

In [60]:
max(a)

273

In [61]:
# 딕셔너리로 책 데이터를 저장한 겨우 가격이 가장 저렵한 책과 가격이 가장 비싼 책을 갖고 싶다면
books = [{
    "제목" : "진짜 챗GPT 활용법",
    "가격" : 16200
}, {
    "제목" : "진짜 쓰는 실무엑셀",
    "가격" : 18900
}, {
    "제목" : "혼자 공부하는 컴퓨터 구조 + 운영체제",
    "가격" : 25200
}]

- min()함수와 max()함수의 key 매개변수 활용
    - key : 어떤 값으로 비교할 것인지 지정

In [62]:
def get_price(book):
    # 딕셔너리에서 "가격" 값을 추출하는 함수 선언
    return book["가격"]

In [63]:
min(books, key = get_price)

{'제목': '진짜 챗GPT 활용법', '가격': 16200}

In [64]:
max(books, key = get_price)

{'제목': '혼자 공부하는 컴퓨터 구조 + 운영체제', '가격': 25200}

In [65]:
# 람다로 수정하기
min(books, key = lambda book : book["가격"])

{'제목': '진짜 챗GPT 활용법', '가격': 16200}

In [66]:
max(books, key = lambda book : book["가격"])

{'제목': '혼자 공부하는 컴퓨터 구조 + 운영체제', '가격': 25200}

- 리스트 요소를 정렬할 때에는 sort()함수를 사용

In [68]:
# srot함수로 오름차순 정렬
a = [52, 273, 32, 107, 57]
a.sort()
print(a)

[32, 52, 57, 107, 273]

In [69]:
# 내림차순 정렬
a.sort(reverse = True)
print(a)

[273, 107, 57, 52, 32]

In [72]:
# 딕셔너리 리스트를 정렬
books.sort(key = lambda book : book["가격"], reverse = True)
books

[{'제목': '혼자 공부하는 컴퓨터 구조 + 운영체제', '가격': 25200},
 {'제목': '진짜 쓰는 실무엑셀', '가격': 18900},
 {'제목': '진짜 챗GPT 활용법', '가격': 16200}]

In [93]:
numbers = list(range(1, 11))

# 홀수만 출력
a = filter(lambda x : x % 2 != 0, numbers)
print(list(a))
# 3이상, 7미만 출력
b = filter(lambda x : x >= 3 and x < 7, numbers)
print(list(b))
# 제곱해서 50미만 출력
c = filter(lambda x : x * x < 50, numbers)
print(list(c))

[1, 3, 5, 7, 9]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [94]:
numbers = list(range(1, 11))

# 홀수만 출력
print(list(filter(lambda x : x % 2 != 0, numbers)))

# 3이상, 7미만 출력
print(list(filter(lambda x : x >= 3 and x < 7, numbers)))

# 제곱해서 50미만 출력
print(list(filter(lambda x : x ** 2 < 50, numbers)))

[1, 3, 5, 7, 9]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [98]:
# 이미지 파일만 가져오기
# 확장자가 jpg, png인 이미지 파일만 출력하기
files = ["font", "1.png", "10.jpg", "11.gif", "2.jpg", "3.png", "table.xlsx", "spec.docx"]
print(list(filter(lambda x : x[-3:] == "jpg" or x[-3:] == "png", files)))

['1.png', '10.jpg', '2.jpg', '3.png']

In [101]:
files = ["font", "1.png", "10.jpg", "11.gif", "2.jpg", "3.png", "table.xlsx", "spec.docx"]
list(filter(lambda x : x.find(".jpg") != -1 or x.find(".png") != -1, files))

['1.png', '10.jpg', '2.jpg', '3.png']