# 소멸자(destructor)
- 인스턴스가 소멸될 때 자동으로 호출되는 메서드

In [1]:
class Sample:
    def __del__(self):
        print("인스턴스가 소멸됩니다")

In [2]:
sample = Sample()

In [3]:
del sample

인스턴스가 소멸됩니다

# isinstance()
- 객체가 어떤 클래스로부터 만들어졌는지 확인할 수 있는 함수
- 첫 번째 매개변수에 객체, 두번째 매개변수에 클래스를 입력
    - isinstance(객체, 클래스)
    
- 객체가 해당 클래스를 기반으로 만들어졌으면 True, 관계 없으면 False반환

In [4]:
class Student:
    def __init__(self):
        pass

In [5]:
student = Student()

In [6]:
isinstance(student, Student)

True

- student는 Student 클래스를 기반으로 만들었으므로 True
- 리스트 내부에 여러 종류의 객체가 들어있을 때 인스턴스들을 구분하여 속성과 기능을 사용할 때 사용

In [9]:
class Student:
    def study(self):
        print("공부를 합니다.")
        
class Teacher:
    def teach(self):
        print("학생을 가르칩니다.")

In [10]:
classroom = [Student(), Student(), Teacher(), Student(), Student()]

In [11]:
# 반복을 적용해서 적절한 함수를 호출
for person in classroom:
    if isinstance(person, Student):
        person.study()
    elif isinstance(person, Teacher):
        person.teach()

공부를 합니다.
공부를 합니다.
학생을 가르칩니다.
공부를 합니다.
공부를 합니다.

# 특수한 이름의 메서드
- \_\_이름\_\_() 형태의 메서드들은 특수한 상황에 자동으로 호출되도록 만들어짐
- 파이썬이 클래스를 사용할 때 제공해주는 보조 기능

## \_\_str\_\_
- str()함수의 매개변수로 객체를 넣으면 호출되는 메서드
- 객체를 문자열로 변환

In [26]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4
    
    def __str__(self):
        return f"{self.name}\t{self.get_sum()}\t{self.get_average()}"

In [27]:
students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 95, 98, 96, 98),
            Student("구지연", 76, 96, 94, 90)]

In [29]:
students[0] <= students[1]

TypeError: '<=' not supported between instances of 'Student' and 'Student'

In [14]:
print("이름", "총점", "평균", sep = "\t")
for student in students:
    print(str(student))

이름	총점	평균
윤인성	368	92.0
연하진	387	96.75
구지연	356	89.0

## 크기 비교 메서드

| 이름 | 영어 | 설명 |
| :-- | :-- | :-- |
| eq| equal| 같다|
| ne | not equal| 다르다 |
| gt | greater than| 크다 |
| ge | greater than or equal| 크거나 같다 |
| lt | less than | 작다 |
| le | less than or equal| 작거나 같다 |

In [30]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4
    
    def __str__(self):
        return f"{self.name}\t{self.get_sum()}\t{self.get_average()}"
    
    def __eq__(self, value):
        return self.get_sum() == value.get_sum()
    
    def __ne__(self, value):
        return self.get_sum() != value.get_sum()
    
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()

In [31]:
# 비교할 학생 선언
student_a = Student("나선주", 98, 92, 96, 92)
student_b = Student("윤아린", 95, 98, 98, 98)

In [32]:
student_a == student_b

False

In [33]:
student_a != student_b

True

In [34]:
student_a > student_b

False

In [35]:
student_a < student_b

True

- 비교할 때 사용하는 자료형을 한정하고 싶다면 예외발생을 활용할 수도 있음

In [37]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4
    
    def __str__(self):
        return f"{self.name}\t{self.get_sum()}\t{self.get_average()}"
    
    def __eq__(self, value):
        if not isinstance(value, Student):
            raise TypeError("Student 클래스의 인스턴스만 비교할 수 있습니다.")
        return self.get_sum() == value.get_sum()
    
    def __ne__(self, value):
        return self.get_sum() != value.get_sum()
    
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()

In [43]:
# 비교할 학생 선언
student_a = Student("나선주", 98, 92, 96, 92)

In [44]:
student_a == 10

TypeError: Student 클래스의 인스턴스만 비교할 수 있습니다.

# 클래스 변수와 클래스 메서드
- 객체가 변수와 메서드를 가지는 것 처럼 클래스도 변수와 메서드를 가질 수 있음
- 표현법
    - class 클래스이름:
        - 클래스 변수 = 값
        
- 클래스 변수에 접근
    - 클래스이름.변수이름

In [45]:
class Korean:
    country = "한국" # 클래스 변수 country
    
    def __init__(self, name, age, address):
        self.name = name # 인스턴스변수 self.name
        self.age = age # 인스턴스변수 self.age
        self.address = address # 인스턴스변수 self.address

In [46]:
man = Korean("홍길동", 35, "서울")

In [47]:
man.name

'홍길동'

In [48]:
Korean.name

AttributeError: type object 'Korean' has no attribute 'name'

In [49]:
man.country

'한국'

In [51]:
Korean.country

'한국'

In [52]:
class Person:
    bag = []
    
    def put_bag(self, stuff):
        Person.bag.append(stuff)

In [53]:
james = Person()
james.put_bag("책")

In [54]:
maria = Person()
maria.put_bag("열쇠")

In [55]:
print(james.bag)
print(maria.bag)
print(Person.bag)

['책', '열쇠']
['책', '열쇠']
['책', '열쇠']

In [57]:
class Person:
    bag = []
    
    def __init__(self):
        self.bag = []
        
    def put_bag(self, stuff):
        Person.bag.append(stuff)
        
    def put_mybag(self, stuff):
        self.bag.append(stuff)

In [58]:
james = Person()
james.put_mybag("책")
james.put_bag("사전")

In [59]:
maria = Person()
maria.put_mybag("열쇠")
maria.put_bag("자물쇠")

In [62]:
# 같은 이름의 인스턴스 변수와 클래스 변수가 존재할 때는 인스턴스 변수 우선
print(james.bag)
print(maria.bag)
print(Person.bag)

['책']
['열쇠']
['사전', '자물쇠']

In [64]:
class Student:
    count = 0
    
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
        # 클래스 변수 설정
        Student.count += 1
        print(f"{Student.count}번째 학생이 생성되었습니다.")

In [65]:
students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 95, 98, 96, 98),
            Student("구지연", 76, 96, 94, 90)]

1번째 학생이 생성되었습니다.
2번째 학생이 생성되었습니다.
3번째 학생이 생성되었습니다.

In [67]:
print(f"현재 생성된 총 학생수는 {Student.count}명 입니다.")

현재 생성된 총 학생수는 3명 입니다.

## 클래스 메서드
- 인스턴스 또는 클래스로 호출
- 생성된 인스턴스가 없어도 호출 가능
- @classmethod 데코레이터를 표시하고 작성
- 매개변수 cls를 사용
- 클래스.메서드() 의 형태로 사용
- 인스턴스 변수에 접근할 수 없지만 클래스 변수에는 접근 가능
    - 인스터스의 상태를 변화시키지 않는 메서드를 만들 때
    
- 표현법
    - class 클래스이름:
        - @classmethod
        - def 클래스함수(cls, 매개변수):
            - pass

In [68]:
class Korean:
    country = "한국"
    
    @classmethod
    def trip(cls, country):
        if cls.country == country:
            print("국내 여행")
        else:
            print("해외 여행")

In [69]:
Korean.trip("한국")

국내 여행

In [70]:
Korean.trip("미국")

해외 여행

In [74]:
class Person:
    count = 0 # 클래스 변수
    
    def __init__(self):
        Person.count += 1 # 인스턴스가 만들어질 때 클래스 변수 count에 1 더하기
        
    @classmethod
    def print_count(cls):
        print(f"{cls.count}명 생성됨") # cls로 클래스 속성에 접근
        
    @classmethod
    def create(cls):
        p = cls() # cls() 는 Person()과 같다
        return p

In [75]:
james = Person()
maria = Person()

In [76]:
Person.print_count()

2명 생성됨

In [77]:
julia = Person.create()
Person.print_count()

3명 생성됨

In [84]:
class Student:
    # 클래스 변수
    count = 0
    students = []
    
    @classmethod
    def print(cls):
        print("------ 학생 목록 ------")
        print("이름\t총점\t평균")
        for student in cls.students:
            print(str(student))
        print("------ ------ ------")
    
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        Student.count += 1
        Student.students.append(self)
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4
    
    def __str__(self):
        return f"{self.name}\t{self.get_sum()}\t{self.get_average()}"

In [85]:
students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 95, 98, 96, 98),
            Student("구지연", 76, 96, 94, 90)]

In [86]:
# 현재 생성된 학생을 모두 출력
Student.print()

------ 학생 목록 ------
이름	총점	평균
윤인성	368	92.0
연하진	387	96.75
구지연	356	89.0
------ ------ ------