# 파이썬 함수의 구조

def 함수명(매개변수):
    <수행할 문장>

In [2]:
# welcome 함수 정의
def welcome():
    print("Hello!")
    print("Nice to meet you")

In [3]:
welcome()

Hello!
Nice to meet you

In [6]:
# add 함수 정의
def add(a, b):
    return a + b

In [7]:
a = 3
b = 4
c = add(a, b)
print(c)

7

## 함수 사용의 장점
- 코드의 용도를 구분
- 코드의 재사용이 용이
- 실수를 방지(오타 등)

# 매개변수와 인수
- 매개변수 : 함수에 입력으로 전달된 값을 받는 변수
- 인수 : 함수를 호출할 때 전달받는 입력값
- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해지므로 구분하지 않는 경우도 많다.

- 함수의 처리과정
    - 입력값 -> 함수 -> 결과값
    
- 함수의 사용법
    - 결과값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)

In [8]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

In [9]:
print_n_times("안녕하세요", 2)

안녕하세요
안녕하세요

In [10]:
# 매개변수 2개를 지정하고 인수를 하나만 넣는다면 에러 발생
print_n_times("안녕하세요")

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [11]:
# 지정한 매개변수 보다 인수를 많이 넣으면 에러 발생
print_n_times("안녕하세요", 10, 20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

### 입력값이 없는 함수
- 입력값이 없는 함수 사용법
    - 결과값을 받을 변수 = 함수이름()

In [12]:
def say():
    return "Hi"

In [14]:
a = say()
print(a)

Hi

### 결과값이 없는 함수
- 결과값이 없는 함수 사용법
    - 함수이름(입력인수1, 입력인수2, ...)

In [16]:
def add(a, b):
    print(f"{a}, {b}의 합은 {a + b}입니다.")

In [17]:
add(3, 4)

3, 4의 합은 7입니다.

In [19]:
# 결과값 확인
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

### 입력값도 결과값도 없는 변수
- 사용법
    - 함수이름()

In [20]:
def say():
    print("Hi")

In [21]:
say()

Hi

## 매개변수 지정하여 호출하기

In [22]:
add(a = 3, b = 7)

3, 7의 합은 10입니다.

In [23]:
add(b = 5, a = 3)

3, 5의 합은 8입니다.

## 함수의 결과값

In [24]:
def add_and_mul(a, b):
    return a + b, a * b

In [27]:
result = add_and_mul(3, 4)
# 함수의 결과값은 2개가 아니라 하나의 튜플로 반환되었다
print(result)

(7, 12)

In [28]:
# 2개의 결과값 처럼 받고 싶다면
result1, result2 = add_and_mul(3, 4)
print(result1, result2)

7 12

In [29]:
def add_and_mul(a, b):
    return a + b
    return a * b

In [31]:
# 함수는 return을 만나는 순간 함수 실행이 종료된다
result = add_and_mul(2, 3)
print(result)

5

### return
- 함수를 종료시키고 싶을 때 사용할 수도 있다.

In [32]:
def sayNick(nick):
    if nick == "바보":
        return
    print(f"나의 별명은 {nick} 입니다.")

In [33]:
sayNick("야호")

나의 별명은 야호 입니다.

In [34]:
sayNick("바보")

# 디폴트 매개변수
- 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 기본값

In [36]:
def sayMySelf(name, age, man = True):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [37]:
sayMySelf("파이썬", 27)

나의 이름은 파이썬 입니다
나이는 27살 입니다.
남자입니다

In [39]:
sayMySelf("자바", 25, False)

나의 이름은 자바 입니다
나이는 25살 입니다.
여자입니다

In [41]:
def print_n_times(value, n = 2):
    for i in range(n):
        print(value)

In [43]:
print_n_times("안녕하세요")

안녕하세요
안녕하세요

## 디폴트 매개변수의 위치

In [44]:
def sayMySelf(name, man = True, age):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {age}살 입니다")
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

SyntaxError: non-default argument follows default argument (1014157038.py, line 1)

# 지역변수와 전역변수
- 지역 변수
    - 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
    - 함수 외부에서는 지역변수에 접근할 수 없음
- 전역변수
    - 함수 외부에서 선언한 변수는 함수 내부에서도 사용 가능

In [49]:
def vartest():
    var = 10
    print(var)

In [47]:
vartest()

10

In [50]:
print(var)

NameError: name 'var' is not defined

In [51]:
var2 = 10

In [52]:
def var2test():
    print(var2)

In [53]:
var2test()

10

### 전역변수를 함수 내부에서 사용하는 2가지 경우
- 단순 참조
- 전역변수의 값을 변경

In [54]:
a = 0

In [55]:
def f():
    a = 10
    print(a)

In [56]:
f()

10

In [57]:
print(a)

0

In [58]:
def f():
    global a # 전역변수 a를 사용하겠다
    a = 10
    print(a)

In [59]:
f()

10

In [60]:
print(a)

10

# 가변 매개변수
- 여러개의 입력값을 받는 함수
- 함수로 전달해야하는 인수의 갯수가 정해지지 않은 매개변수
- 함수를 정의시 매개변수 앞에 * 를 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달
- 가변 매개변수의 제약
    - 가변 매개변수 뒤에는 일반 매개변수가 올 수 없다
    - 가변 매개변수는 하나만 사용할 수 있다

In [61]:
def show(*args):
    print(args)

In [64]:
show("Python")

('Python',)

In [65]:
show("Happy", "birthday")

('Happy', 'birthday')

In [69]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    
    return result

In [70]:
result = add_many(1, 2, 3)

In [71]:
print(result)

6

In [72]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [74]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result += i
            
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
            
    return result

In [77]:
result = add_mul("add", 1, 2, 3, 4, 5)
print(result)

15

In [78]:
result = add_mul("mul", 1, 2, 3, 4, 5)
print(result)

120

# 키워드 매개변수

In [79]:
def printKwargs(**kwargs):
    print(kwargs)

In [80]:
printKwargs(a = 1)

{'a': 1}

In [81]:
printKwargs(name = "foo", age = 3)

{'name': 'foo', 'age': 3}

## 연습문제

In [88]:
# 1. 몫과 나머지를 구하는 함수 작성
# ex) a = 10, b = 3
# 3 1
def res(a, b):
    print(a // b, a % b)

In [86]:
res(10, 3)

3 1

In [84]:
# 강사님 풀이
def get_divmod(a, b):
    return a // b, a % b
get_divmod(10, 3)

(3, 1)

In [94]:
# 2. 주어진 자연수가 홀수면 True, 짝수면 False가 나오는 함수를 작성하기
def is_oddNumber(num):
    if num % 2 != 0:
        return True
    else:
        return False

In [97]:
is_oddNumber(3)

True

In [98]:
is_oddNumber(4)

False

In [125]:
# 커피자판기 만들기
# 커피자판기에 돈과 주문할 커피를 전달
# 주문할 수 있는 커피의 종류와 가격은 다음과 같음
    # 아메리카노 : 1000원
    # 카페라떼 : 1500원
    # 카푸치노 : 2000원
# 없는 커피를 주문할 경우 입력한 돈을 그대로 반환
# 구매 금액이 부족하면 입력한 돈을 그대로 반환
# 정상 주문이면 주문한 커피와 잔돈을 반환
# 함수 사용 예시
# coffee_mochine(pick = "마키아또", money = 15000) -> 15000
# 아메리카노, 500 -> 500

def coffee_mochine(pick, money):
    menu = {"아메리카노" : 1000, "카페라떼" : 1500, "카푸치노" : 2000}
    count = 0
    for i in menu:
        if i == pick:
            if menu[i] > money:
                return money
            else:
                return pick, money - menu[i]
        else:
            count += 1
            if count >= 2:
                return money

In [120]:
coffee_mochine("마키아또", 15000)

15000

In [121]:
coffee_mochine("아메리카노", 500)

500

In [122]:
coffee_mochine("카페라떼", 2000)

('카페라떼', 500)

In [129]:
# 강사님 풀이
def coffee_mochine(money, pick):
    menu = {"아메리카노" : 1000, "카페라떼" : 1500, "카푸치노" : 2000}
    if pick in not menu:
        return money
    
    elif menu[pick] > money:
        return money
    
    else:
        return pick, money - menu[pick]

In [130]:
coffee_mochine("마키아또", 15000)

'마키아또'

In [131]:
coffee_mochine("아메리카노", 500)

'아메리카노'

In [132]:
coffee_mochine("카페라떼", 2000)

'카페라떼'